*{
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
}

/* header */

header{
    background: white;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.logo{
    display: flex;
    margin-left: 1.5rem;
}
.logo span{
    color: gray;
}

.logo p{
    font-weight: bold;
}

.logo p, .logo span{
    margin: auto;
    height: 2rem;
    font-size: 4vh;
}

nav ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    margin-right: 1.5rem;
}

nav ul li{
    margin-left: 1rem;
    font-weight: bold;
}

/* main */

.banner{
    padding-top: 4rem;
    background-color: #dedede;
    display: flex;
    color: rgb(88, 88, 88);
}

/* main section images */

.banner-image, .campus-image-container{
    width: 60%;
    margin: 2rem 1.5rem ;
}

.banner-image img, .campus-image img{
    width: 100%;
    height: auto;
}
/*  */
.banner-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info h1, .campus-info h1{
    font-size: 2rem;
    font-weight: 800
}

.banner-info p{
    font-size: x-large;
}

.banner-info h1, .banner-info p{
    margin-bottom: 2rem;
}

.banner-info button{
    color: white;
    border: none;
    padding: 0.5rem 0;
    width: 100%;
    font-size: x-large;
    background-color: rgb(88, 88, 88);
}



.campus-info p, .campus-info h1{
    margin-bottom: 1.5rem;
}

.campus{
    display: flex;
    color: rgb(74, 74, 74);
}

.campus-details{
    display: flex;
    align-items: center;
}

/* campus options */

.campus-options{
    width: 40%;
    margin-top: 2rem;
}

.cmp-dtl-img{
    width: 35%;
    margin: 1rem 0 0 1rem;
}

.cmp-dtl-img img{
    width: 100%;
    height: auto;
}

.cmp-dtl-info p{
    margin: 0.5rem 0;
}

.cmp-dtl-info{
    margin-left: 1rem;
}

.cmp-dtl-info a{
    color: rgb(85, 150, 226);
    text-decoration: none;
}